@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	/*overflow: hidden;*/
}

/* Fixed header */
h1 {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	line-height: 80px;
	margin: 0;
	padding: 0 30px;
	font-weight: 300;
	display: inline-block;
}

#expand-form {
	z-index: 9;
	border-radius: 3px;
	position: fixed;
	right: 0;
	margin: 15px;
	height: 50px;
	width: 50px;
	background-color: lightgrey;
	cursor: pointer;
}

/* Create person */
#add-person-container {
	height: 100%;
	background-color: rgb(50, 50, 50);
	color: white;
	width: 20%;
	padding: 20px;
	position: absolute;
	top: 0;
	right: -20%;
	z-index: 100;
	transition: 0.5s ease-in-out;
	box-sizing: border-box;
}

#add-person-form fieldset {
	border: 1px solid white;
	margin-bottom: 10px;
}

#add-person-form input {
	color: white;
	box-sizing: border-box;
	padding: 5px;
	background-color: transparent;
	border: 1px solid white;
	width: 100%;
	margin: 10px 0;
}

#add-person-form p {
	margin: 5px;
}

input[type='button'] {
	color: white;
	margin-bottom: 10px;
	cursor: pointer;
}

input[type='radio'] {
	width: auto !important;
	margin-right: 10px !important;
}

/* Card container */
#map-container {
	height: 100%;
	width: 100%;
	position: relative;
	top: 0;
}

.warning {
	opacity: 0;
	transition: opacity 0.5s;
	text-align: center;
	color: tomato;
}

/* People card */
.card {
	width: 180px;
	height: 80px;
	background-color: white;
	position: absolute;
	border: 1px solid slategrey;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 1px 4px 0 slategrey;
}

.card p {
	margin: 5px;
}

.card:hover {
	/*cursor: ;*/
}

.edit-btn {
	height: 20px;
	width: 20px;
	margin: 5px;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;
}

.edit-btn img {
	height: 100%;
	width: 100%;
}

/* Edit screen */
#edit-container {
	background-color: white;
	z-index: 10;
	width: 100%;
	height: calc(100% - 80px);
	position: absolute;
	top: 100%;
	transition: 0.3s;
}

#close-edit {
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 11;
	right: 0;
	margin: 30px;
	cursor: pointer;
}

#close-edit img {
	width: 100%;
	height: 100%;
}

#edit-sidebar {
	width: 20%;
	height: 100%;
	border-right: 1px solid lightgrey;
	box-sizing: border-box;
	float: left;
}

#edit-sidebar ul {
	padding: 0;
	margin: 0;
}

#edit-sidebar li {
	list-style: none;
	margin: 50px;
	cursor: pointer;
	transition: 1s;
}

#edit-sidebar li:hover {
	letter-spacing: 1px;
}

.edit-area {
	width: 80%;
	height: 100%;
	padding: 50px 100px;
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 1s;
	position: absolute;
	right: 0;
}

/* Forms: edit; */
#edit-person-form fieldset {
	padding: 20px 50px;
}

#edit-person-form input, #create-relations-container input {
	color: black;
	width: 100%;
	padding: 2px;
	box-sizing: border-box;
}

#edit-person-form input[type="button"], #create-relations-container input[type="button"] {
	margin: 30px 0 20px 0;
	width: 30%;
}

#create-relations-container input[type="radio"] {
	margin-top: 20px;
}

/* Edit relations */
#relations-list table{
	width: 100%;
}

#create-relations-container, #relations {
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 1s;
}

#show-create-relations {
	height: 50px;
	width: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 40px;
	z-index: 10;
}